{% extends 'base.html'%}
{% load static %}

{% block content %}
  <div class="container text-center">
    <div class="row mt-4">
      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 1</h3>
        </div>
      </div>

      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 2</h3>
        </div>
      </div>

      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 3</h3>
        </div>
      </div> 
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 4</h3>
        </div>
      </div>

      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 5</h3>
        </div>
      </div>

      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 6</h3>
        </div>
      </div> 
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 7</h3>
        </div>
      </div>

      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 8</h3>
        </div>
      </div>

      <div class="col">
        <div class="btn btn-primary rounded-pill px-3">
          <h3>Table 9</h3>
        </div>
      </div> 
    </div>
  </div>
  
{% endblock %}