<header class="d-flex justify-content-center py-3">
  <nav class="navbar bg-primary" data-bs-theme="dark">
    <ul class="nav nav-pills">
      <li class = "nav-item {% if request.path == '' %} active {% endif %}">
        <a href="{% url 'Login' %}" class="nav-link">Login</a>
      </li>
      
      <li 
        {% if request.path == 'tables/' %}
          class="nav-item active"
        {% else %}
          class="nav-item"
        {% endif %}
      >
        <a href="{% url 'tables' %}" class="nav-link">Take Order</a>
      </li>
      
      <li class="nav-item">
        <a href="{% url 'orders' %}" class="nav-link">Orders</a>
      </li>
    </ul>
  </nav>
</header>