<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li 
        {% if request.path == ' ' %}
          class="nav-item active"
        {% else %}
          class="nav-item"
        {% endif %}
      >
        <a href="{% url 'Login' %}" class="nav-link">Login</a>
      </li>
      
      <li 
        {% if request.path == 'tables/' %}
          class="nav-item active"
        {% else %}
          class="nav-item"
        {% endif %}
      >
        <a href="{% url 'tables' %}" class="nav-link">Take Order</a>
      </li>
      
      <li class="nav-item">
        <a href="#" class="nav-link">Orders</a>
      </li>
    </ul>
</header>